{% extends 'music/base.html'  %}
{% block title %}- Album Details{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <img src="{{ album.album_logo.url }}" style="width: 100%; margin: 10px 10px 10px 10px">
            <h1 style="margin: 30px 10px 10px 10px;"><span class="highlight-text">{{ album.album_title }}</span> by <span class="highlight-text">{{ album.artist }}</span></h1>
        </div>

        <div class="col-md-8">
            <table class="table table-borderless" style="margin: 10px 10px 10px 50px;">
                <form action="{% url 'music:favorite' album.id %}" method="post">
                    {% csrf_token %}
                    {% for song in album.song_set.all %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <label for="song{{ forloop.counter }}">
                                    {{ song.song_title }}
                            </td>
                            <td>
                                    {% if song.is_favorite %}
                                        <button type="submit" class="btn btn-link" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
                                            <span class="glyphicon glyphicon-star" style="color: #FDE16D;"></span>
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-link" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
                                            <span class="glyphicon glyphicon-star-empty" style="color: black;"></span>
                                        </button>
                                    {% endif %}
                                </label>
                            </td>
                        </tr>
                    {%  endfor %}
                </form>
            </table>
        </div>
    </div>


{% endblock %}
