{% extends 'music/base.html'  %}
{% block title %}- Album Details{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <img src="{{ album.album_logo.url }}" style="width: 100%; margin: 10px 10px 10px 10px">
            <h1 style="margin: 30px 10px 10px 10px;"><span class="highlight-text">{{ album.album_title }}</span> by <span class="highlight-text">{{ album.artist }}</span></h1>
        </div>

        <div class="col-md-8">
            <table class="table table-borderless">
                <form action="{% url 'music:favorite' album.id %}" method="post">
                    {% csrf_token %}
                    {% for song in album.song_set.all %}
                        <tr>
                            <td>
                                <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
                                <label for="song{{ forloop.counter }}">
                                    {{ song.song_title }}
                                    {% if song.is_favorite %}
                                        <img src="http://i.imgur.com/b9b13Rd.png" alt="">
                                    {% endif %}
                                </label>
                            </td>
                        </tr>
                    {%  endfor %}
                    <input type="submit" value="Favorite">
                </form>
            </table>
        </div>
    </div>


{% endblock %}
