{% extends 'music/base.html'  %}

{% block body %}

<div class="container-fluid" id="all-albums">
    {% for album in all_albums %}
        {% if forloop.counter|divisibleby:3 %}<div class="row">{% endif %}
        <div class="col-md-4">
            <div class="hovereffect">
                <img class="img-responsive" src="{{ album.album_logo.url }}" alt="">
                <div class="overlay">
                   <h2 class="album-title-text">
                       <a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>
                   </h2>
                   <form action="{% url 'music:album-delete' album.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link" id="button-trash">
                            <span class="glyphicon glyphicon-trash" ></span>
                        </button>
                   </form>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
    {% endfor %}
</div>

{% endblock %}